
<div>
    <ul>

        <li>
            <h3>Телефон:</h3>
            <p>123456789 </p></li>
        <li><h3>
    Контакт:
</h3>
    <p>Загружаюсь ... </p>
</li>

        <li><h3>
    Факс:
</h3>
    <p>Думаю о будущем.... </p>
</li>

        <li><h3>
    E-mail:
</h3>
    <p>Компилирую код ...Возможно.... </p>
</li>
    </ul>
    <p></p>
</div>
