
<div>
    <h3>МОЙ САЙТ</h3>
    <p>Даже не знаю, что написать, но функционал вроде немного продуман</p>


    <h4>Интересы:</h4>
    <p>
        Очень разносторонний, всё нравится, легко меня увлечь чем-то. Люблю что-нибудь собирать, мастерить, придумывать, разрабатывать мини-программки для дома ) Люблю путешествовать, люблю горы, озёра, чистую природу )))
    </p>

    <h4>
        Любимая музыка:
    </h4>
    <p>
        Главное, чтобы нравилось. Мне всё нравится, только рэп не очень
    </p>

    <h4>  Любимые фильмы:</h4>
    <p>
        Фантастика, фильмы, заставляющие задуматься )
    </p>

    <h4>
        Любимые телешоу:
    </h4>
    <p>
        Новости все почти, экономические новости, научные телешоу по Discovery, National Geografic, в YouTube, каналы про науку и жизнь
    </p>

    <h4>   Любимые книги:</h4>
    <p>
        Люблю читать научные книги, по интересующей меня тематике, люблю читать развивающие книги. Люблю читать о загадках истории )))
    </p>

    <h4>
        Любимые игры:
    </h4>
    <p>
        Разные игры увлекают, потом интерес пропадает. Почти уже не играю, вышел из того возраста ) Реальная жизнь лучше) Много дел и без игр)
    </p>
    <h4>
        Любимые цитаты:
    </h4>
    <h1><p>  Упорный труд - вот, что меняет мир!</p> </h1> (Шонда Раймс)

</div>
